@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/*------------------------------*\
            #VARIABLES
\*------------------------------*/

:root{
    /*------------------------------*\
                #COLORS
    \*------------------------------*/

    /***** Primary *****/
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);

    /***** Secondary *****/
    --red: hsl(0, 87%, 67%);

    /***** Neutral *****/
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(262, 4%, 50%);
    --grayish-middle-violet: #eff0f5;

    
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);

    /*------------------------------*\
                #TYPOGRAPHY
    \*------------------------------*/
    --font-size: 18px;
    --weight-500: 500;
    --weight-700: 700;
}

/*------------------------------*\
            #RESET
\*------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

svg path:is(:hover, :focus){
    fill: var(--cyan);
}

/*------------------------------*\
            #BODY
\*------------------------------*/

body{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size);
    padding: 54px 0;
    height: 100vh;
}

/*------------------------------*\
            #HEADER
\*------------------------------*/

.container-header{
    display: flex;
    justify-content: space-between;
    padding: 0 164px;
}

.container-logo-navbar{
    display: flex;
    column-gap: 50px;
}

.logo{
    padding: 5px;
}

.navbar ul{
    display: flex;
    column-gap: 32px;
    padding: 3px;
}

.navbar ul li a{
    color: var(--grayish-violet);
}

.navbar ul li a:is(:hover, :focus){
    cursor: pointer;
    color: var(--very-dark-violet);
}

.navbar__container-login-signup, .open-menu{
    display: none;
}

.open-menu:is(:hover, :focus){
    cursor: pointer;
}

.container-login-signup{
    display: flex;
}

.button{
    font-family: 'Poppins', sans-serif;
    padding: 6px 8px;
    border: none;
    border-radius: 28px;
    text-align: center;
    outline: none;
}

.button:is(:hover, :focus), .copy:is(:hover, :focus){
    cursor: pointer;
    filter: brightness(1.2);
}

.login{
    width: 88px;
    background-color: transparent;
    color: var(--grayish-violet);
}

.signup{
    width: 88px;
    background-color: var(--cyan);
    color: white;
}

/*------------------------------*\
            #MAIN-SECTION
\*------------------------------*/

.main-section{
    width: 100%;
    display: flex;
    column-gap: 80px;
    padding-top: 66px;
    padding-bottom: 162px;
    padding-left: 164px;
}

.container-text{
    width: 45%;
    padding-top: 62px;
}

.container-text h1{
    color: var(--dark-violet);
    font-size: 60px;
    line-height: 1.2;
}

.container-text p{
    width: 84%;
    color: var(--grayish-violet);
    margin-bottom: 38px;
    line-height: 1.6;
}

.container-image{
    width: 55%;
    overflow: hidden;
}

.getstarted{
    width: 134px;
    background-color: var(--cyan);
    color: white;
}

/*------------------------------*\
            #STATISTICS
\*------------------------------*/

.statistics{
    position: relative;
    width: 100%;
    background-color: var(--grayish-middle-violet);
    border: 2px solid transparent;
    padding-bottom: 120px;
    padding-left: 164px;
}

.container-form-results{
    width: 83.7%;
    margin-top: 11vh;
}

.container-form-results ul{
    display: none;
}

.container-form-results ul.active{
    display: block;
    padding-top: 16px;
}

.container-shorten{
    position: absolute;
    top: -8%; 
    width: 74%;
    display: flex;
    justify-content: center;
    column-gap: 26px;
    background-color: var(--dark-violet);
    background-image: url(../assets/img/bg-shorten-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 66px; 
    border-radius: 8px;
}

.container-shorten__input{
    width: 66%;
    display: flex;
    flex-direction: column;
}

.input-empty{
    display: none;
    margin-left: 3px;
    margin-top: 4px;
    font-style: italic;
    color: var(--red);
}

.input-empty.active{
    display: block;
}

.container-shorten__input input{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size);
    color: var(--grayish-violet);
    padding: 14px 24px;
    border: 1px solid var(--red);
    border-radius: 10px;
    outline: none;
}

.container-shorten__input input.grayish-violet{
    border: 1px solid var(--grayish-violet);
}

.container-shorten__input input::placeholder{
    color: var(--red);
}

.shorten{
    width: 186px;
    background-color: var(--cyan);
    font-size: var(--font-size);
    color: white;
    padding: 14px 42px;
    border-radius: 10px;
}

.result{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 30px;
    column-gap: 30px;
    margin-bottom: 16px;
    border-radius: 10px;
}

.container-link-button{
    display: flex;
    column-gap: 26px;
    align-items: center;
}

.original-link{
    color: var(--very-dark-violet);
}

.short-link{
    color: var(--cyan);
}

.copy{
    width: 160px;
    background-color: var(--cyan);
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size);
    color: white;
    padding: 14px 4px;
    border: none;
    border-radius: 10px; 
    text-align: center;
    outline: none;
}

.background-clicked{
    background-color: var(--very-dark-violet);
}

.container-content{
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 15%;
    margin-bottom: 10%;
}

.container-content p{
    width: 44%;
    font-size: 16px;
    text-align: center;
    color: var(--grayish-violet);
}

.container-content h2{
    color: var(--dark-violet);
}

.container-cards{
    width: 88%;
    display: flex;
    position: relative;
}

.card{
    height: max-content;
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 42px 34px;
}

.container-cards div:nth-child(3){
    margin-top: 3.5%;
}

.container-cards div:last-child{
    margin-top: 7%;
}

.card__image{
    position: absolute;
    top: -14%;
    width: max-content;
    background-color: var(--dark-violet);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 16px;
}

.card h3{
    color: var(--dark-violet);
    margin-bottom: 18px;
    margin-top: 20px;
}

.card p{
    color: var(--grayish-violet);
}

.separator{
    width: 100px;
    height: 8px;
    background-color: var(--cyan);
    margin-top: 11%;
}

/*------------------------------*\
            #BOOST
\*------------------------------*/

.boost{
    width: 100%;
    height: 256px;
    background-image: url(../assets/img/bg-boost-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark-violet);
}

.container-boost{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 26px;
    padding-top: 60px;
}

.container-boost h2{
    color: white;
}

/*------------------------------*\
            #FOOTER
\*------------------------------*/

.footer{
    background-color: var(--very-dark-violet);
    display: flex;
    justify-content: space-between;
    padding: 74px 164px;
}

.container-footer-list{
    display: flex;
    column-gap: 75px;
}

.footer-list-title{
    font-size: 20px;
    color: white;
    margin-bottom: 26px;
}

.footer-link{
    color: var(--grayish-violet);
    line-height: 2;
}

.footer-link:is(:hover, :focus){
    color: var(--cyan);
}

.social-list{
    display: flex;
    column-gap: 25px;
}

/*------------------------------------*\
            #MEDIA-QUERIES
\*------------------------------------*/

@media(max-width:1200px){
    /*------------------------------*\
                #HEADER
    \*------------------------------*/

    .container-header{
        padding: 0 80px;
    }

    /*------------------------------*\
                #MAIN-SECTION
    \*------------------------------*/

    .main-section{
        padding-left: 80px;
    }

    .container-text{
        width: 35%;
    }

    .container-text h1{
        font-size: 40px;
        margin-bottom: 12px;
    }
    
    .container-image{
        width: 65%;
    }

    /*------------------------------*\
            #STATISTICS
    \*------------------------------*/

    .statistics{
        padding-left: 80px;
    }

    .container-form-results{
        width: 90%;
    }
    
    .container-shorten{
        width: 84%;
    }
    
    .container-content{
        width: 90%;
    }

    .container-content p{
        width: 56%;
    }
    
    .container-cards{
        width: 92%;
    }
    
    .container-cards div:nth-child(3){
        margin-top: 3.5%;
    }

    .container-cards div:last-child{
        margin-top: 7%;
    }
    
    .card h3{
        font-size: var(--font-size);
    }

    .card p{
        font-size: 14px;
    }

    /*------------------------------*\
                #FOOTER
    \*------------------------------*/

    .footer{
        padding: 74px 80px;
    }

    .container-footer-list{
        column-gap: 45px;
    }
    
    .social-list{
        column-gap: 18px;
    }
}

@media(max-width:1000px){
    /*------------------------------*\
                #HEADER
    \*------------------------------*/

    .container-header{
        padding: 0 40px;
    }

    .container-logo-navbar{
        column-gap: 20px;
    }

    .navbar ul{
        column-gap: 16px;
    }

    .navbar ul li a{
        font-size: 16px;
    }

    /*------------------------------*\
            #MAIN-SECTION
    \*------------------------------*/

    .main-section{
        column-gap: 4px; 
        padding-top: 50px;
        padding-left: 40px; 
    }

    .container-text{
        width: 60%;
        padding-top: 10px;
    }
    
    .container-text p{
        width: 84%;
        margin-bottom: 20px;
    }
    
    .container-image{
        width: 40%;
    }

    .container-image img{
        width: 130%;
        height: max-content;
    }

    /*------------------------------*\
                #STATISTICS
    \*------------------------------*/

    .statistics{
        padding-left: 40px; 
    }

    .container-form-results{
        width: 93.5%;
    }
    
    .container-shorten{
        width: 90%;
        top: -6%;
        padding: 30px;
    }

    .container-content{
        width: 100%;
        margin: 15% 0;
    }

    .container-content p{
        width: 64%;
    }

    /*------------------------------*\
                #FOOTER
    \*------------------------------*/

    .footer{
        padding: 74px 40px; 
    }

    .container-footer-list{
        column-gap: 20px; 
    }

    .footer-list li a{
        font-size: 14px;
    }

    .footer-list-title{
        font-size: 16px;
        margin-bottom: 16px;
    }

    .social-list{
        column-gap: 14px;
    }
}

@media(max-width:830px){
    .copy{
        width: 90px;
        padding: 14px 2px;
        
    }

    .original-link, .short-link{
        font-size: 16px;
    }
}

@media(max-width:675px){
    .result{
        flex-direction: column;
        align-items: flex-start;
    }

    .container-link-button{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
        margin-top: 10px;
    }

    .copy{
        width: 100%;
    }
}



@media(max-width:700px){
    /*------------------------------*\
                #HEADER
    \*------------------------------*/

    .container-logo-navbar{
        position: relative;
    }
    
    .container-login-signup{
        display: none;
    }

    .navbar__container-login-signup{
        display: block;
    }

    .navbar{
        display: none;
        position: absolute;
        top: 130%;
        left: -15%;
        width: 86vw;
        background-color: var(--dark-violet);
        text-align: center;
        padding: 28px 26px;
        border-radius: 10px;
    }

    .navbar.active{
        display: block;
    }

    .navbar ul{
        flex-direction: column;
        row-gap: 38px;
        padding-bottom: 38px;
        border-bottom: 2px solid var(--grayish-violet);
    }

    .navbar ul li a{
        color: white;
        font-size: 20px;
        font-weight: var(--weight-700);
    }

    .navbar__container-login-signup{
        display: flex;
        flex-direction: column;
        row-gap: 28px;
        margin-top: 26px;
    }

    .navbar__container-login-signup .login{
        width: 100%;
        font-size: 20px;
        font-weight: var(--weight-700);
        color: white;
    }
    
    .navbar__container-login-signup .signup{
        width: 100%;
        font-size: 20px;
        font-weight: var(--weight-700);
        padding: 14px 0;
    }
    
    .open-menu{
        display: block;
        border: 1px solid transparent;
        background-color: transparent;
        outline: none;
        margin-bottom: 20px;
    }

    .line{
        width: 36px;
        height: 4px;
        background-color: var(--grayish-violet);
        margin-bottom: 6px;
    }

    /*------------------------------*\
            #MAIN-SECTION
    \*------------------------------*/

    .main-section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .container-text{
        width: 100%;
        text-align: center;
    }

    .container-text p{
        width: 100%; 
    }

    .container-image{
        width: 100%;
        margin-bottom: 20px;
    }

    /*------------------------------*\
            #STATISTICS
    \*------------------------------*/

    .statistics{
        padding-left: 20px; 
    }

    .container-shorten{
        top: -8%;
        flex-direction: column;
        row-gap: 16px;
    }

    .container-shorten__input{
        width: 100%;
    }

    .container-shorten__button{
        width: 100%;
    }

    .shorten{
        width: inherit;
    } 
    
    .container-content{
        margin-top: 36%;
        margin-bottom: 20%;
    }

    .container-content p{
        width: 88%;
    }

    .container-cards{
        flex-direction: column;
    }

    .card{
        text-align: center;
    }

    .card__image{
        left: 38.5vw;
    }

    .separator{
        transform: rotate(90deg);
        width: 24%;
        height: 8px;
        margin-left: 37.5%;
    }

    /*------------------------------*\
                #FOOTER
    \*------------------------------*/
    
    .footer{
        flex-direction: column;
        align-items: center;
    }

    .container-footer-list{
        flex-direction: column;
        text-align: center;
        margin: 10% 0;
    }

    .footer-list{
        margin-bottom: 20%;
    }
    
    .social-list{
        column-gap: 30px; 
    }
}

@media(max-width:560px){
    .card__image{
        left: 37vw;
    }
}

@media(max-width:490px){
    .card__image{
        left: 35.5vw;
    }
}

@media(max-width:425px){
    /*------------------------------*\
            #MAIN-SECTION
    \*------------------------------*/

    .container-text{
        padding-top: 62px;
    }

    .container-text p{
        width: 96%;
    }

    /*------------------------------*\
            #STATISTICS
    \*------------------------------*/

    .separator{
        margin-left: 39%;
    }

    .card__image{
        left: 35.5vw;
    }
}

@media(max-width:375px){
    .card__image{
        left: 33.8vw;
    }
}




